<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <title>WebSite Navigation</title>
    <!-- 引入CDN -->
    <script src="source/js/vue.js"></script>
    <!-- 引入Element UI样式 -->
    <link rel="stylesheet" href="source/css/elementui.css">
    <!-- 引入Element UI组件库 -->
    <script src="source/js/elementui.js"></script>
    <!-- 引入JQuery组件库 -->
    <script src="source/js/jquery.js" type="text/javascript"></script>
    <!-- 引入cnchar 汉字解析基础库 -->
    <script src="source/js/cnchar.min.js" type="text/javascript"></script>
    <base target="_blank">
    <style>
        .top{
            display: flex;
            flex-wrap: wrap;
        }
        .topform{
            width: 200px;
            margin: 0 10px 10px 0;
        }
        .content{
            display: flex;
            min-height: 800px;
        }
        .content .left{
            width: 200px !important;
            margin-right: 10px;
        }
        .content .right{
            flex-direction: column;
            flex-grow: 1;
            /*background-color: #4d4d4d;*/
        }
        /*分割线*/
        .el-divider--horizontal{
            margin: 0 0 10px 0;
        }
        .menu1{
            border: 1px #ee0000 !important;
        }
        .el-tree {
            user-select: none;
        }
        iframe{
            border: 2px dashed #CEC9C9;
            /*position: relative;*/
            width:100% !important;  /**/
            height: 47vw !important;
        }


    </style>

</head>
<body>

<div id="app">

    <div class="top">
        <form  v-for="(item,index) in searchEngineList"  :action="item.action" method="get" class="topform">
            <el-input size="mini" class="keywords_input" v-model='searchText' :placeholder="item.placeholderText"  :name="item.searchKey" size="20" clearable autocomplete="on">
                <i slot="prefix"><img :src="item.icon" width="16px" style="position: relative;top: 7px"/></i>
                <i slot="suffix" class="el-input__icon el-icon-search"></i>
            </el-input>
        </form>
    </div>
    <el-divider></el-divider>
    <div class="content">
        <div class="left">
            <div class="menu1">
<!--                <el-button size="mini" @click="()=>{this.showEditableButton =!this.showEditableButton}" style="width: 100%;margin-bottom: 10px">编辑目录</el-button>-->
                <el-input placeholder="输入关键字进行过滤" size="mini" v-model="filterText" clearable>
                    <i slot="suffix" class="el-input__icon el-icon-search"></i>
                </el-input>

                <el-tree class="filter-tree"
                         :data="menuTreeList"
                         :props="defaultProps"
                         :filter-node-method="filterNode"
                         :expand-on-click-node="!this.showEditableButton"
                         node-key="id"
                         ref="tree"
                         accordion
                         @node-click="handleRedirectUrl"
                         @node-contextmenu="rightClick"
                         highlight-current
                         :draggable="true"
                         @node-drop="syncMenuTreeList2LocalStorage">
                    <span slot-scope="{ node, data}" class="custom-tree-node">
                        <!-- 不同节点类型展示logo不同-->
                        <span v-if="node.level == 1" class="el-icon-folder-opened" ><el-link :src="node.url" style="margin-left: 3px">{{ node.label }}</el-link></span>
                        <span v-else class="el-icon-document" >
                            <el-link :href="node.url" style="margin-left: 3px">{{ node.label }}</el-link>
                        </span>
                        <div v-if="showEditableButton" style="display: inline-block;position: absolute;right: -80px;background: #F0F7FF;padding-right: 5px;border-radius: 3px;border-color: #1CB1DA">
                            <!--  为 Tree 的一个节点的后面增加一个节点             -->
                            <el-button  v-if="false" type="text" size="mini" @click="() => insertAfter(data, node)" v-if="node.level >= 1">
                                <i class = "el-icon-plus"></i>
                            </el-button>
                            <!--  为 Tree 中的一个节点追加一个子节点             -->
                            <el-button type="text" size="mini" @click="() => append(data, node)">
                                <i class = "el-icon-plus"></i>
                            </el-button>
                            <!--		// 编辑按钮-->
                            <el-button type="text" size="mini" @click = "() => edit(node, data)">
                                <i class="el-icon-edit"></i>
                            </el-button>
                            <!--            // 删除按钮-->
                            <el-button type="text" size="mini" @click = "() => remove(node, data)">
                                <i class = "el-icon-delete"></i>
                            </el-button>
                        </div>

                    </span>
                </el-tree>
            </div>
        </div>
        <div class="right">
            <!--   首页显示-->
            <div >
                <iframe src="https://www.runoob.com/" ref="iframe" name="content_iframe_name"></iframe>
            </div>
        </div>
    </div>

    <template>
        <el-dialog title="编辑节点" :visible.sync="dialogFormVisible">
            <el-form :model="form">
                <el-form-item label="节点id" :label-width="formLabelWidth">
                    <el-input v-model="form.id" autocomplete="off"  @keyup.enter.native="saveNode"></el-input>
                </el-form-item>
                <el-form-item label="节点名称" :label-width="formLabelWidth">
                    <el-input v-model="form.label" autocomplete="off"  @keyup.enter.native="saveNode"></el-input>
                </el-form-item>
                <el-form-item label="节点url" :label-width="formLabelWidth">
                    <el-input v-model="form.url" autocomplete="off" @keyup.enter.native="saveNode"></el-input>
                </el-form-item>
                <el-form-item label="备注" :label-width="formLabelWidth">
                    <el-input v-model="form.remark" autocomplete="off" @keyup.enter.native="saveNode"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="saveNode">确 定</el-button>
            </div>
        </el-dialog>
    </template>
    <el-tooltip placement="top" effect="light">
        <div slot="content">
1. 鼠标右击编辑目录树，再次右击隐藏编辑按钮。<br/>
2. 更新的目录树数据使用localStorage存储，清除浏览器本地数据后，不可恢复。
        </div>
        <el-button size="mini" >使用帮助</el-button>
    </el-tooltip>
    <el-tooltip placement="top" effect="light">
        <div slot="content">
            {{this.menuTreeList}}
        </div>
        <el-button size="mini" >复制节点</el-button>
    </el-tooltip>


</div>


<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                formLabelWidth:600,
                form:{},
                dialogFormVisible:false,
                showEditableButton:false,
                id: 0,
                //顶部搜索框绑定值
                searchText:null,
                //顶部搜索引擎api列表
                searchEngineList:[
                    {action:'https://www.dalipan.com/search',searchKey:'keyword',placeholderText:'网盘搜索',icon:'source/img/website/netdisk.png',remark:''},
                    {action:'https://www.google.com/search',searchKey:'q',placeholderText:'谷歌搜索',icon:'source/img/website/google.png',remark:''},
                    {action:'https://www.baidu.com/s',searchKey:'wd',placeholderText:'百度搜索',icon:'source/img/website/baidu.png',remark:''},
                    {action:'https://zh.wikipedia.org/wiki/',searchKey:'search',placeholderText:'维基搜索',icon:'source/img/website/wiki.png',remark:''},
                    {action:'https://stackoverflow.com/search',searchKey:'q',placeholderText:'stackoverflow',icon:'source/img/website/stackoverflow.png',remark:''},
                    {action:'https://zzk.cnblogs.com/s/blogpost',searchKey:'keywords',placeholderText:'博客园搜索',icon:'source/img/website/cnblogs.png',remark:''},
                    {action:'https://so.csdn.net/so/search/s.do',searchKey:'q',placeholderText:'CSDN搜索',icon:'source/img/website/csdn.png',remark:''},
                    {action:'https://www.zhihu.com/search?type=content',searchKey:'q',placeholderText:'知乎搜索',icon:'source/img/website/zhihu.png',remark:''},
                    {action:'https://github.com/search',searchKey:'q',placeholderText:'GitHub搜索',icon:'source/img/website/github.png',remark:''},
                    {action:'https://www.jianshu.com/search',searchKey:'q',placeholderText:'简书搜索',icon:'source/img/website/jianshu.png',remark:''},
                    {action:'https://www.runoob.com',searchKey:'q',placeholderText:'菜鸟搜索',icon:'source/img/website/cainiao.png',remark:''},
                ],
                activeName: '1',
                filterText: '',

                menuTreeList: [{
                    id:1,
                    level:1,
                    label: '高频访问',
                    children: [
                       {level:2, label: '猎手导航',url:'http://www.lsdhss.com/',remark:''},
                       {level:2, label: 'KuLi云导航',url:'https://www.ooolooo.vip/',remark:''},
                       {level:2, label: '超能搜',url:'https://www.chaonengsou.com/',remark:''},
                       {level:2, label: '百度网盘登录',url:'https://pan.baidu.com/',remark:''},
                       {level:2, label: 'API Docs',url:'https://tool.oschina.net/apidocs/',remark:''},
                       {level:2, label: 'API ref',url:'https://www.apiref.com/',remark:''},
                       {level:2, label: '菜鸟教程',url:'https://www.runoob.com/',remark:''},
                       {level:2, label: 'W3中文教程',url:'https://www.w3school.com.cn/',remark:''},
                       {level:2, label: 'Adguard文档',url:'https://george0728.github.io/Web/adguard/en.htm',remark:''},
                       {level:2, label: '爱思资源网',url:'http://www.aseoe.com/manual/',remark:''},
                       {level:2, label: '软件下载:资源分享',url:'https://www.qiuziyuan.net/',remark:''},
                       {level:2, label: '软件下载:423down',url:'https://www.423down.com/',remark:''},
                       {level:2, label: '软件下载:whg6',url:'https://www.whg6.com/',remark:''},
                        ]
                }, {
                    id:2,
                    level:1,
                    label: '科学上网',
                    children: [
                        {level:2, label: '论坛|公益党V2ray',url:'https://freefq.com/free-ssr/',remark:''},
                        {level:2, label: '免费翻墙网SSR',url:'https://fanqiangdang.com/forum-2-1.html',remark:''},
                        {level:2, label: '论坛|公益党SSR',url:'https://fanqiangdang.com/forum-2-1.html',remark:''},
                        {level:2, label: 'KuLi云',url:'https://oooiooo.me/user',remark:''},
                    ]
                }, {
                    id:3,
                    level:1,
                    label: '编程API',
                    children: [
                        {level:2, label:'AJAX',url:'https://www.runoob.com/ajax/',remark:''},
                        {level:2, label:'BootStrap4',url:'https://code.z01.com/v4/docs/',remark:''},
                        {level:2, label:'cnchar (v3.0.5)',url:'https://www.theajack.com/cnchar/guide/',remark:''},
                        {level:2, label:'CSS3—API',url:'http://www.aseoe.com/manual/css3/',remark:''},
                        {level:2, label:'CSS-菜鸟',url:'https://www.runoob.com/cssref/css-reference.html',remark:''},
                        {level:2, label:'REGEXP',url:'https://www.runoob.com/regexp/',remark:''},
                        {level:2, label:'MAVEN',url:'https://www.runoob.com/maven/',remark:''},
                        {level:2, label:'SQL',url:'https://www.runoob.com/sql/',remark:''},
                        {level:2, label:'HTML5-API',url:'http://www.aseoe.com/manual/html5/',remark:''},
                        {level:2, label:'HTMLDOM',url:'https://www.runoob.com/htmldom',remark:''},
                        {level:2, label:'HTML-菜鸟',url:'https://www.runoob.com/tags/html-reference.html',remark:''},
                        {level:2, label:'Vue2',url:'https://cn.vuejs.org/v2/guide/',remark:''},
                        {level:2, label:'JAVA',url:'https://www.runoob.com/java/',remark:''},
                        {level:2, label:'Java SE 11',url:'https://www.apiref.com/java11-zh',remark:''},
                        {level:2, label:'JavaScript',url:'https://www.runoob.com/js',remark:''},
                        {level:2, label:'JavaScript-API',url:'http://www.aseoe.com/manual/js/index.html',remark:''},
                        {level:2, label:'JDK中文手册',url:'https://tool.oschina.net/apidocs/apidoc?api=jdk-zh',remark:''},
                        {level:2, label:'JQuery',url:'https://www.runoob.com/jquery',remark:''},
                        {level:2, label:'JQuery—API',url:'http://www.aseoe.com/manual/jq/',remark:''},
                        {level:2, label:'JQuery1.9—API',url:'source/api/jquery-api-1.9/index.htm',remark:''},
                        {level:2, label:'JQuery-菜鸟',url:'https://www.runoob.com/manual/jquery/',remark:''},
                        {level:2, label:'JSON',url:'https://www.runoob.com/json/',remark:''},
                        {level:2, label:'XML',url:'https://www.runoob.com/xml/',remark:''},
                    ]
                }, {
                    id:4,
                    level:1,
                    label: '在线工具',
                    children: [
                        {level:2, label:'在线工具聚合',url:'https://tool.lu/',remark:''},
                        // {level:2, label:'打字-打飞机',url:'https://theajack.gitee.io/type/',remark:''},
                        // {level:2, label:'打字-弹钢琴',url:'https://theajack.gitee.io/piano/',remark:''},
                        // {level:2, label:'JS在线运行环境',url:'https://theajack.gitee.io/jsbox/',remark:''},
                    ]
                }],
                menuTreeList1: [],
                defaultProps: {
                    children: 'children',
                    label: 'label'
                },
            }
        },
        created(){
            // window.localStorage.setItem("menuTreeList",JSON.stringify(this.menuTreeList));
            var storeList = window.localStorage.getItem("menuTreeList");
            // console.log("storeList:::",storeList);
            if(storeList != null){
                this.menuTreeList = JSON.parse(storeList);
            }
        },
        watch: {
            filterText(val) {
                let res = val==null?'':val
                this.$refs.tree.filter(val);
            }
        },
        methods:{
            //filter-node-method属性：	对树节点进行筛选时执行的方法，返回 true 表示这个节点可以显示，返回 false 则表示这个节点会被隐藏   Function(value, data, node)
            filterNode(value, data) {
                if (!value) return true;

                //支持中文拼音搜索(全部拼音时才会处理)
                if(cnchar.isCnChar(data.label.toLowerCase()) && !cnchar.isCnChar(value)){
                        //将label拆散成小写拼音数组
                        let arr = data.label.spell('low', 'array'); //arg1:大小写 low up ；arg2:转换类型array,String
                        //拼接成完整label的拼音
                        let spell = arr.join(',');
                        for (var i = 0; i < arr.length - 1; i++) {
                            return value.toLowerCase().indexOf(arr[i].toLowerCase()) !== -1;
                        };
                    console.log(data.label+"是否为汉字：",cnchar.isCnChar(data.label));
                    console.log("拆分后的拼音字符串",spell);
                    //lengths 是label完整拼音 中每个汉字第一个拼音字母的index值的数组
                    let lengths = [0];
                    for (var i = 0; i < arr.length - 1; i++) {
                        lengths.push(lengths[i] + arr[i].length);
                    };
                    //判断label完整拼音 中 输入值的 index 是不是等于某个汉字第一个拼音字母的index值
                    return lengths.indexOf(spell.indexOf(value.toLowerCase())) !== -1
                }

                //忽略大小写
                return data.label.toLowerCase().indexOf(value.toLowerCase()) !== -1;

            },

            //node-click事件： 共三个参数，依次为：传递给 data 属性的数组中该节点所对应的对象、节点对应的 Node、节点组件本身。  https://element.eleme.cn/#/zh-CN/component/tree#events
            handleRedirectUrl(data,node,value){
                // console.log("data:",data);
                // console.log("node:",node);
                // console.log("value:",value);
                if(data.level == 2){
                    console.log("data.url:::",data.url);
                    this.$refs.iframe.src = data.url;
                    // window.location.href = data.url;
                }

            },
            rightClick (MouseEvent, object, Node, element) { // 鼠标右击触发事件

                this.showEditableButton =!this.showEditableButton
                // console.log('右键被点击的event:', MouseEvent)
                // console.log('右键被点击的object:', object)
                // console.log('右键被点击的value:', Node)
                // console.log('右键被点击的element:', element)
                // console.log('鼠标点击了树形结构图')
                this.clickNode = Node  //存储待操作的节点或删除、或在该层或子层添加节点
                // alert(Node.level +":"+Node.label)
            },

            /**
             * (data, refNode) 接收两个参数
             * @param data 1. 要增加的节点的 data
             * @param refNode 2. 要增加的节点的前一个节点的 data、key 或者 node
             */
            insertAfter(data, refNode){
                // console.log("插入兄弟节点data:::",data);
                // console.log("插入兄弟节点refNode:::",refNode);
                // console.log("插入兄弟节点refNode.parent:::",refNode.parent);
                // console.log("插入兄弟节点refNode.parent:::",refNode.parent);
                const brotherNode = [{ level:1,label: '根节点', children: [{ id: this.id++, level:2,label: '子节点', children: [] }] }];
                refNode.parent.data.push(brotherNode);

            },
            append(data) {
                const newChild = { id: this.id++, level:2,label: '子节点', children: [] };
                if (!data.children) {
                    this.$set(data.parent, 'children', []);
                }
                console.log("拓展前data.children:::",data.children);
                data.children.push(newChild);
                this.syncMenuTreeList2LocalStorage();
                // console.log("拓展时data:::",data);
                // console.log("拓展后data.children:::",data.children);
                // console.log("拓展时data.json:::",JSON.stringify(data));
                // console.log("拓展时menuTreeList:::",this.menuTreeList);
                // console.log("拓展时menuTreeList.json:::",JSON.stringify(this.menuTreeList));
            },

            remove(node, data) {
                this.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    const parent = node.parent;
                    const children = parent.data.children || parent.data;
                    const index = children.findIndex(d => d.id === data.id);
                    children.splice(index, 1);
                    this.syncMenuTreeList2LocalStorage();
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });

            },
            edit(node, data) {
                console.log("node:::",node);
                console.log("data:::",data);
                this.form = data;
                // console.log("编辑开始时data:::",data);
                // console.log("编辑开始时data.json:::",JSON.stringify(data));
                // console.log("编辑开始时menuTreeList:::",this.menuTreeList);
                // console.log("编辑开始时menuTreeList.json:::",JSON.stringify(this.menuTreeList));
                this.dialogFormVisible = true;
            },
            saveNode(){
                // console.log("this.form:::",this.form);
                // console.log("编辑保存时menuTreeList:::",this.menuTreeList);
                // console.log("编辑保存时menuTreeList.json:::",JSON.stringify(this.menuTreeList));
                window.localStorage.setItem("menuTreeList",JSON.stringify(this.menuTreeList));
                // console.log("localStorage:::",window.localStorage.getItem("menuTreeList"));
                this.dialogFormVisible = false;
            },
            //拖动节点时，更新localStorage
            syncMenuTreeList2LocalStorage(){
                window.localStorage.setItem("menuTreeList",JSON.stringify(this.menuTreeList));
            }

        }
    })
</script>
</body>
</html>