<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />-->
    <title>Navigation</title>
    <link rel="icon" href="source/img/favicon12.png"/>

    <link rel="stylesheet" href="source/css/transition.css"/>
    <link rel="stylesheet" href="source/css/scrollbar.css"/>

    <!--    css图标样式库 对el-link有影响-->
    <!--    <link rel="stylesheet" href="source/css/easy-icon/easy-icon-all.css">-->

    <!-- 引入CDN -->
    <script src="source/js/vue.js"></script>
    <!-- 引入Element UI样式 -->
    <link rel="stylesheet" href="source/css/elementui.css">
    <!-- 引入Element UI组件库 -->
    <script src="source/js/elementui.js"></script>
    <!-- 引入JQuery组件库 -->
    <script src="source/js/jquery.js" type="text/javascript"></script>
    <script src="//widget.time.is/zh.js"></script>
    <script>
        time_is_widget.init({
            Beijing_z43d: {
                template: "DATE TIME",
                date_format: "dayname year年monthnum月daynum日"
            }
        });
    </script>

    <!-- 引入cnchar 汉字解析基础库 -->
    <script src="source/js/cnchar.min.js" type="text/javascript"></script>
    <base target="_blank">
    <style>
        body {
            background : #f3f0f0;
        }
        #app {
            display: flex;
            flex-direction: column;
            height: 98vh;
        }

        .top {
            display: flex;
            flex-wrap: wrap;
        }

        .topform {
            width: 260px;
            margin: 0 10px 10px 0;
        }

        .content {
            width: 100%;
            display: flex;
            flex-grow: 1;
            /*background-color: #1CB1DA;*/
            /*min-height: 800px;*/
        }

        .content .left {
            width: 260px !important;
            margin-right: 10px;
        }
        .content .left .menu1{
            overflow-y: auto;
            height: 83vh;
        }

        .content .right {
            flex-direction: row-reverse;
            flex-grow: 1;
        }

        /*分割线*/
        .el-divider--horizontal {
            margin: 0 0 10px 0;
        }

        .menu1 {
            border: 1px #ee0000 !important;
        }

        .el-tree {
            user-select: none;
        }

        iframe {
            border: 2px dashed #CEC9C9;
            /*position: relative;*/
            width: 100% !important; /**/
            height: 44vw !important;
        }

        /*目录树编辑按钮样式*/
        .tree_edit {
            display: inline-block;
            height: 15px;
            /*position: absolute;*/
            /*right: -83px;*/
            background: #F0F7FF;
            /*margin-top: -5px;*/
            padding-top: 0px;
            padding-bottom: 10px;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 3px;
            border-style: ridge;
            border-color: rgba(193, 193, 196, 0.96);
        }

        .el-input-group__append {
            padding-left: 5px !important;
            padding-right: 5px !important;
        }

        /*树控件背景色为透明*/
        .el-tree{
            background: transparent;
        }

        /*节点label默认显示颜色*/
        .el-link.el-link--default {
            color: #0043c9;

        }
        /*节点内容样式*/
        .el-tree-node__content{
            height: 25px;
            color: #0043c9;
            border-radius:5px !important;
            padding-bottom: 3px !important;
            margin-bottom: 3px !important;
        }
        span.expanded.el-tree-node__expand-icon.el-icon-caret-right {
            color: #2fff00 !important;
        }
        span.el-tree-node__expand-icon.el-icon-caret-right::before {
            color: #0043c9;
        }
        /*是否有叶子节点,如果没有则改为透明色*/
        .is-leaf::before {
        // display: none;
            opacity: 0;
        }


        /*tree组件选中背景色修改 */
        .el-tree-node.is-current > .el-tree-node__content{
            background-color: rgba(0,133,254,.5) !important;
        }

        /*tree组件鼠标hover悬浮背景色 */
        .el-tree-node > .el-tree-node__content:hover{
            background-color: rgba(0,133,254,.5);
        }
        .menu1 a:hover {
            color: rgba(104,252,0,1) !important;
        }



        .tree_edit-delete20230205{
            background-color: #ffffff;
            height: 23px;
            border: black ridge !important;
            /*border-style:ridge;*/
            padding: 0px 10px 3px 10px !important;
            border-radius: 5px;
            position:absolute;
            right: 0px;
        }

        .text-color-red{
            color:red !important;
        }

        .tree-edit-form .el-form-item {
            display: flex;
            width: 80%;
        }

        .el-form-item__label{
            font-weight: 600;
            width: 100px !important;

        }
        .tree-edit-form .el-input--suffix .el-input__inner {
            width: 320px !important;
            padding-right: 0px !important;
        }


        .el-scrollbar .highlighted{
            /*background-color:grey !important;*/
            color: #0003ff !important;
        }


    </style>

</head>
<body>
<!--    实现背景三角体悬浮且可鼠标指针吸引的效果-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvas-nest.js/2.0.4/canvas-nest.js"></script>-->
<!--<script src="source/js/canvas-nest.js"></script>-->


<div id="app">

    <div class="top">
        <form v-for="(item,index) in this.searchEngineList" :action="item.searchUrl" method="get" class="topform"
              @submit="saveSearchText2SearchHistory(item)">
            <el-autocomplete id="search-sug" size="medium" class="keywords_input" v-model='searchText' :placeholder="item.placeholder" :fetch-suggestions="((queryString,cb)=>{querySearch(queryString,cb,item)})" :trigger-on-focus="false"
                      :name="item.searchKey" size="20" clearable autocomplete="off" @select="handleSelect">
                <i slot="prefix"><img :src="item.iconUrl" width="18px" style="position: relative;top: 8px"/></i>
                <input class="on_submit" slot="append" type="image" src="source/img/search_icon2.png"
                       style="width: 18px;position: relative;z-index: 999"></input>
            </el-autocomplete>
        </form>
    </div>
    <el-divider></el-divider>

    <template>
        <div class="content">
            <div class="left">
                <!--                <el-button size="mini" @click="()=>{this.showEditableButton =!this.showEditableButton}" style="width: 100%;margin-bottom: 10px">编辑目录</el-button>-->
                <el-link href="https://time.is/Beijing" id="time_is_link" rel="nofollow"
                         style="font-size:14px;margin:0 0 5px 10px;font-weight: bolder" target="_blank">
                    <span id="Beijing_z43d" style="font-size:14px"></span>
                </el-link>

                <el-input placeholder="输入关键字进行过滤" size="medium" v-model="filterText" clearable>
                    <i slot="suffix" class="el-input__icon el-icon-search"></i>
                </el-input>
                <div class="menu1">


                    <el-tree class="filter-tree"
                             :data="menuTreeList"
                             :props="defaultProps"
                             :filter-node-method="filterNode"
                             :expand-on-click-node="!this.showEditableButton"
                             node-key="id"
                             ref="tree"
                             accordion
                             @node-click="handleRedirectUrl2Iframe"
                             @node-contextmenu="rightClick"
                             highlight-current
                             :draggable="true"
                             @node-drop="onDropSuccessEvent">
                    <span slot-scope="{ node, data}" class="custom-tree-node" @mouseenter="mouseenter(data)"
                          @mouseleave="mouseleave(data)" style="width: 100%">
                        <!-- 不同节点类型展示logo不同-->
                            <el-link :src="node.url" style="margin-left: 3px" :class="{'text-color-red': (data.level == 2) }">{{ node.label }}</el-link>
<!--                        <span v-if="node.level == 1" class="el-icon-folder-opened">-->
<!--                            <el-link :src="node.url" style="margin-left: 3px" :class="{'text-color-red': (data.level == 2) }">{{ node.label }}</el-link>-->
<!--                        </span>-->
<!--                        <span v-else class="el-icon-document">-->
<!--                            <el-link :href="node.url" style="margin-left: 3px" :class="{'text-color-red': (data.level == 2) }">{{ node.label }}</el-link>-->
<!--                        </span>-->

<!--                        <span v-show="data.level == 2">-->
<!--                            &lt;!&ndash;  为 Tree 的一个节点的后面增加一个节点             &ndash;&gt;-->
<!--                            <el-button type="text" size="mini" @click="handleRedirectUrl2NewPage(data)">-->
<!--                                <i class="el-icon-top-right"></i>-->
<!--                            </el-button>-->
<!--                        </span>-->

                        <span v-show="data.show" class="tree_edit-delete20230205">

                            <!--  为 Tree 中的一个节点追加一个子节点             -->
                            <el-button type="text" size="mini" @click="() => append(data, node)">
                                <i class="el-icon-plus"></i>
                            </el-button>
                            <!--		// 编辑按钮-->
                            <el-button type="text" size="mini" @click="() => edit(node, data)">
                                <i class="el-icon-edit"></i>
                            </el-button>
                            <!--            // 删除按钮-->
                            <el-button type="text" size="mini" @click="() => remove(node, data)">
                                <i class="el-icon-delete"></i>
                            </el-button>
                        </span>

                    </span>
                    </el-tree>
                </div>
            </div>
            <div class="right card-flip">
                <div class="front">
                    <iframe :src="this.iframeInitSrc" ref="front_iframe" ></iframe>
                </div>
            </div>
        </div>
    </template>

    <div class="footer">
        <el-tooltip placement="top" effect="light">
            <div slot="content">
                1. 鼠标右击编辑目录树，再次右击隐藏编辑按钮。<br/>
<!--                2. 更新的目录树数据使用localStorage存储，清除浏览器本地数据后，不可恢复。-->
            </div>
            <el-button size="mini" class="el-icon-info">&nbsp;使用帮助</el-button>
        </el-tooltip>


    </div>

    <template>
        <el-dialog title="编辑节点" :visible.sync="this.dialogFormVisible" width="600px" :close-on-click-modal="false">
            <el-form :model="form" label-width="120px" class="tree-edit-form">
                <el-form-item label="节点id" :label-width="this.formLabelWidth">
                    <el-input v-model="form.id" autocomplete="off" @keyup.enter.native="saveNode" readonly></el-input>
                </el-form-item>
                <el-form-item label="节点名称" :label-width="this.formLabelWidth">
                    <el-input v-model="form.label" autocomplete="off" @keyup.enter.native="saveNode"
                              clearable></el-input>
                </el-form-item>
                <el-form-item label="节点url" :label-width="this.formLabelWidth">
                    <el-input v-model="form.url" autocomplete="off" @keyup.enter.native="saveNode" clearable></el-input>
                </el-form-item>
                <el-form-item label="level" :label-width="this.formLabelWidth">
                    <el-input-number v-model="form.level" :min="1" :max="2"@keyup.enter.native="saveNode"></el-input-number>
<!--                    <el-input v-model="form.level" autocomplete="off" @keyup.enter.native="saveNode" clearable></el-input>-->
                </el-form-item>
                <el-form-item label="备注" :label-width="this.formLabelWidth">
                    <el-input v-model="form.remark" autocomplete="off" @keyup.enter.native="saveNode"
                              clearable></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer" align="left">
                <el-button type="primary" @click="saveNode">确 定</el-button>
                <el-button @click="dialogFormVisible = false">取 消</el-button>
            </div>
        </el-dialog>
    </template>


</div>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                cookieValue: "",
                formLabelWidth: 100,
                form: {},
                dialogFormVisible: false,
                showEditableButton: false,
                id: 0,
                //顶部搜索框绑定值
                searchText: null,
                searchHistory: [],
                //顶部搜索引擎api列表
                searchEngineList: [],
                activeName: '1',
                filterText: '',
                // iframeInitSrc: 'http://www.lsdhss.com/',
                iframeInitSrc: '/source/html/home.html',
                menuTreeList:[],
                defaultProps: {
                    children: 'children',
                    label: 'label'
                },
            }
        },
        created() {
            Date.prototype.format = function (fmt) {
                var o = {
                    "M+": this.getMonth() + 1,                 //月份
                    "d+": this.getDate(),                    //日
                    "h+": this.getHours(),                   //小时
                    "m+": this.getMinutes(),                 //分
                    "s+": this.getSeconds(),                 //秒
                    "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                    "S": this.getMilliseconds()             //毫秒
                };
                if (/(y+)/.test(fmt)) {
                    fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                }
                for (var k in o) {
                    if (new RegExp("(" + k + ")").test(fmt)) {
                        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                    }
                }
                return fmt;
            };
            this.getSearchEngineList();
            this.getMenuTreeList();
        },
        watch: {
            filterText(val) {
                let res = val == null ? '' : val
                this.$refs.tree.filter(val);
            }
        },
        methods: {
            handleSelect(item) {
                console.log("selected:",item.value);
            },
            querySearch1(queryString, cb) {
                let res = [];
                let searchKey = $("#search-sug").val();
                let sugurl = "http://suggestion.baidu.com/su?wd=#content#";
                sugurl = sugurl.replace("#content#", searchKey);
                $.ajax({
                    type: "GET",
                    url: sugurl,
                    dataType: "jsonp",
                    async: false,
                    // timeout: 15000,
                    jsonp: "cb", //定义回调函数,不写则为默认回调函数
                    // jsonpCallback: 'window.baidusug',
                    success: function (data) {
                        // alert("ok");
                        console.log("res:",data.s);
                        let result = data.s;
                        let arr = [];
                        for(let i=0; i<result.length; i++) {
                            let obj = {};
                            obj["value"] = result[i];
                            arr.push(obj);
                        }
                        cb(arr);
                        },
                    error: function () {
                        alert("fail");
                    }
                });
                return res;
            },
            querySearch2(queryString,cb,item) {
                console.log("item:",item);
                let res = [];
                let searchKey = $("#search-sug").val();
                let sugurl = "http://suggestqueries.google.com/complete/search?client=youtube&q=#content#";
                sugurl = sugurl.replace("#content#", searchKey);
                $.ajax({
                    type: "GET",
                    url: sugurl,
                    dataType: "jsonp",
                    // async: false,
                    // timeout: 15000,
                    jsonp: "jsonp", //定义回调函数,不写则为默认回调函数
                    // jsonpCallback: 'window.baidusug',
                    success: function (data) {
                        // alert("ok");
                        console.log("res:",data[1]);
                        let result = data[1];
                        let arr = [];
                        for(let i=0; i<result.length; i++) {
                            let obj = {};
                            obj["value"] = result[i][0];
                            arr.push(obj);
                        }
                        cb(arr);
                        },
                    error: function () {
                        alert("fail");
                    }
                });

                return res;
            },
            querySearch(queryString,cb,item) {
                console.log("item:",item);
                let res = [];
                let searchKey = $("#search-sug").val();
                let sugurl = item.suggestUrl;
                sugurl = sugurl.replace("#content#", searchKey);
                $.ajax({
                    type: "GET",
                    url: sugurl,
                    dataType: "jsonp",
                    // async: false,
                    // timeout: 15000,
                    jsonp: item.suggestCallback, //定义回调函数,不写则为默认回调函数
                    // jsonpCallback: 'window.baidusug',
                    success: function (data) {
                        // alert("ok");
                        let arr = [];
                        if("baidu" == item.engineName){
                            console.log("res:",data.s);
                            let result = data.s;
                            for(let i=0; i<result.length; i++) {
                                let obj = {};
                                obj["value"] = result[i];
                                arr.push(obj);
                            }
                        }else if("google" == item.engineName){
                            console.log("res:",data[1]);
                            let result = data[1];
                            for(let i=0; i<result.length; i++) {
                                let obj = {};
                                obj["value"] = result[i][0];
                                arr.push(obj);
                            }
                        }
                        cb(arr);
                        },
                    error: function () {
                        alert("fail");
                    }
                });

                return res;
            },

            /**
             * ajax 获取后台节点数列表，并渲染到node
             */
            getMenuTreeList(){
                var that = this;
                $.ajax({
                    url: "http://localhost:10086/system/menu-tree/pagelist",
                    method:'get',
                    // dataType: "json",
                    type: "json",
                    data: {},
                    success: function (response) {
                        // console.log("response:::",response);
                        if(response.code = 200){
                            that.menuTreeList = that.resolveMenuTreeList2TreeNode(response.data,0);
                            // console.log("response.data:::",response.data);
                            // console.log("that.menuTreeList:::",that.menuTreeList);
                        }
                    },
                    error: function () {

                    }
                });
            },

            /**
             * 遍历list到node中
             * @param list
             * @param parentId
             * @returns {*[]}
             */
            resolveMenuTreeList2TreeNode(list,parentId){
                const arr = [];
                list.forEach(item =>{
                    if(item.parentId === parentId){
                        arr.push(item);
                        item.children = this.resolveMenuTreeList2TreeNode(list,item.id);
                    }
                });
                return arr;
            },

            /**
             * ajax 获取后台搜索引擎列表
             */
            getSearchEngineList(){
                var that = this;
                $.ajax({
                    url: "http://localhost:10086/system/search-engine/pagelist",
                    method:'get',
                    type: "json",
                    data: {},
                    success: function (response) {
                        if(response.code = 200){
                            that.searchEngineList = response.data;
                        }
                    },
                    error: function () {

                    }
                });
            },

            /**
             * ajax 保存搜索历史
             * @param item
             */
            saveSearchText2SearchHistory(item) {
                var that = this;
                $.ajax({
                    url: "http://localhost:10086/system/search-history/addhistory",
                    method: 'get',
                    type: "json",
                    data: {searchText: this.searchText, searchEngine: item.placeholder},
                    success: function (response) {
                        if(response.code != 200){
                            that.$alert(response.msg);
                        }
                    },
                    error: function () {

                    }
                });

            },
            /**
             * ajax 新增或编辑 节点数据
             * @param item
             */
            saveMenuTreeNode2DB(formData) {
                var that = this;
                $.ajax({
                    url: "http://localhost:10086/system/menu-tree/insert-update",
                    method: 'get',
                    type: "json",
                    data: {"menuTreeStr" : JSON.stringify(formData)},
                    success: function (response) {
                        console.log("更新节点数据:::",response);
                        if(response.code === 200){
                            that.$message.success(response.msg);
                            // that.getMenuTreeList();
                            // console.log(response.data);
                            // that.$nextTick(()=>{
                            //     that.$refs.tree.store.nodesMap[response.data].expanded = true;
                            // })

                            console.log("formData.id:",formData.id);
                            //id不存在表示为新增的节点
                            if(!formData.id){
                                formData.id = response.data;
                                formData.children = []; //新的节点，子节点为空，也要写上便于后续扩展。
                                // // this.$refs.tree.store.nodesMap[data.id].expanded = true;
                                var currentNode = that.$refs.tree.getCurrentNode();
                                console.log("保存新增节点后，获取当前要添加子节点的父节点：",currentNode);
                                currentNode.children.push(formData);
                            }
                        }else{
                            that.$alert(response.msg);
                        }
                    },
                    error: function () {

                    }
                });
            },
            /**
             * ajax 拖拽更新 节点数据
             * @param item
             */
            handleDropUpdate(dropType,dragDataId,dropDataId) {
                var that = this;
                $.ajax({
                    url: "http://localhost:10086/system/menu-tree/drag-drop",
                    method: 'get',
                    type: "json",
                    data: {"dropType" : dropType, "dragDataId": dragDataId,"dropDataId" : dropDataId},
                    success: function (response) {
                        console.log("拖拽更新节点数据:::",response);
                        if(response.code === 200){
                            that.$message.success(response.msg);
                            // that.getMenuTreeList();
                            // console.log(response.data);
                            // that.$nextTick(()=>{
                            //     that.$refs.tree.store.nodesMap[response.data].expanded = true;
                            // })

                            // formData.id = response.data;
                            // formData.children = []; //新的节点，子节点为空，也要写上便于后续扩展。
                            // // this.$refs.tree.store.nodesMap[data.id].expanded = true;
                            // var currentNode = that.$refs.tree.getCurrentNode();
                            // console.log("保存新增节点后，获取当前要添加子节点的父节点：",currentNode);
                            // currentNode.children.push(formData);
                        }else{
                            that.$message.error(response.msg);
                        }
                    },
                    error: function () {

                    }
                });
            },
            /**
             * ajax 根据节点数据id 删除后台数据（注意node.id与data.id可能不相等 ！！！）
             * @param item
             */
            deleteMenuTreeNodeById(dataId,node) {
                var that = this;
                $.ajax({
                    url: "http://localhost:10086/system/menu-tree/delete",
                    method: 'get',
                    type: "json",
                    data: {"id" : dataId},
                    success: function (response) {
                        console.log("删除节点数据:::",response);
                        if(response.code != 200){
                            that.$alert("???"+response.msg);
                        }else{
                            const parent = node.parent;
                            const children = parent.data.children || parent.data;
                            const index = children.findIndex(d => d.id === dataId);
                            children.splice(index, 1);
                            that.$message.success(response.msg)
                        }
                    },
                    error: function () {

                    }
                });
            },

            /**
             * filter-node-method属性：	对树节点进行筛选时执行的方法，返回 true 表示这个节点可以显示，返回 false 则表示这个节点会被隐藏   Function(value, data, node)
             * @param value
             * @param data
             * @returns {boolean}
             */
            filterNode(value, data) {
                if (!value) return true;

                //支持中文拼音搜索(全部拼音时才会处理)
                if (cnchar.isCnChar(data.label.toLowerCase()) && !cnchar.isCnChar(value)) {
                    //将label拆散成小写拼音数组
                    let arr = data.label.spell('low', 'array'); //arg1:大小写 low up ；arg2:转换类型array,String
                    //拼接成完整label的拼音
                    let spell = arr.join(',');
                    for (var i = 0; i < arr.length - 1; i++) {
                        return value.toLowerCase().indexOf(arr[i].toLowerCase()) !== -1;
                    }
                    ;
                    // console.log(data.label+"是否为汉字：",cnchar.isCnChar(data.label));
                    // console.log("拆分后的拼音字符串",spell);
                    //lengths 是label完整拼音 中每个汉字第一个拼音字母的index值的数组
                    let lengths = [0];
                    for (var i = 0; i < arr.length - 1; i++) {
                        lengths.push(lengths[i] + arr[i].length);
                    }
                    ;
                    //判断label完整拼音 中 输入值的 index 是不是等于某个汉字第一个拼音字母的index值
                    return lengths.indexOf(spell.indexOf(value.toLowerCase())) !== -1
                }

                //忽略大小写
                return data.label.toLowerCase().indexOf(value.toLowerCase()) !== -1;

            },


            /**
             * 渲染点击节点url到 iframe中
             * @param data
             * @param node
             * @param value
             */
            handleRedirectUrl2Iframe(data, node, value) {
                console.log("点击节点data:",data);
                console.log("点击节点node:",node);
                console.log("点击节点value:",value);

                let event = window.event || arguments.callee.caller.arguments[0];
                var ctrlKeyDowned = event.ctrlKey;
                var shiftKeyDowned = event.shiftKey;

                // alert(ctrlKeyDowned);
                // alert(shiftKeyDowned);


                //节点处于编辑状态时，不进行页面的跳转
                if(this.showEditableButton){
                    return
                }
                if(data.url == null){
                    data.url = '/source/html/home.html';
                }
                if(data.level == 2 || ctrlKeyDowned){
                    this.handleRedirectUrl2NewPage(data);
                    return;
                }
                this.$refs.front_iframe.src = data.url;
                if ($('.card-flip').css('transform') == 'none') {
                    $('.card-flip').css('transform', 'rotateX(360deg)');
                } else {
                    $('.card-flip').css('transform', 'none');
                }
            },

            /**
             * 渲染点击节点url到 新的标签页
             * @param data
             */
            handleRedirectUrl2NewPage(data) {
                // window.top.location.href = data.url;
                // window.location.href = data.url;
                window.open(data.url, "_blank");
                // window.open(data.url, "_blank", "location=no,screenX=300px,titlebar=no,screenY=1800px,scrollbars=yes,resizable=1,modal=true,alwaysRaised=yes");
                // window.open(data.url, "_blank",  'height=1400, width=2800, top=200,left=300, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no');


            },

            rightClick(MouseEvent, object, Node, element) { // 鼠标右击触发事件

                this.showEditableButton = !this.showEditableButton
                this.$message.success("鼠标右击展开节点:" + (this.showEditableButton ? "否" : "是"));
                // console.log('右键被点击的event:', MouseEvent)
                // console.log('右键被点击的object:', object)
                // console.log('右键被点击的value:', Node)
                // console.log('右键被点击的element:', element)
                // console.log('鼠标点击了树形结构图')
                this.clickNode = Node  //存储待操作的节点或删除、或在该层或子层添加节点
                // alert(Node.level +":"+Node.label)
            },

            append(data) {
                console.log("添加节点:", data);
                this.form = {};
                this.form.parentId = data.id;
                this.dialogFormVisible = true;
                // const newChild = {id: new Date().getTime(), level: 2, label: '子节点', children: []};
                // if (!data.children) {
                //     this.$set(data.parent, 'children', []);
                // }
                // // console.log("拓展前data.children:::",data.children);
                // data.children.push(newChild);
                this.$refs.tree.store.nodesMap[data.id].expanded = true;
                data.unfold = true;
                // this.syncMenuTreeList2LocalStorage();
                // console.log("拓展时data:::",data);
                // console.log("拓展后data.children:::",data.children);
                // console.log("拓展时data.json:::",JSON.stringify(data));
                // console.log("拓展时menuTreeList:::",this.menuTreeList);
                // console.log("拓展时menuTreeList.json:::",JSON.stringify(this.menuTreeList));
            },

            remove(node, data) {
                this.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    console.log('删除data',data);
                    console.log('删除node',node);
                    this.deleteMenuTreeNodeById(data.id,node);

                })

            },

            edit(node, data) {
                console.log("node:::", node);
                console.log("data:::", data);
                this.form = data;
                // console.log("编辑开始时data:::",data);
                // console.log("编辑开始时data.json:::",JSON.stringify(data));
                // console.log("编辑开始时menuTreeList:::",this.menuTreeList);
                // console.log("编辑开始时menuTreeList.json:::",JSON.stringify(this.menuTreeList));
                this.dialogFormVisible = true;
            },

            saveNode() {
                console.log("this.form:::",this.form);
                this.saveMenuTreeNode2DB(this.form);
                this.dialogFormVisible = false;
            },


            /**
             * 拖拽成功完成时触发的事件,，在这里可以将节点拖拽后的顺序返给后端
             * @param draggingNode
             * @param dropNode
             * @param dropType
             * @param event
             */
            onDropSuccessEvent(draggingNode, dropNode, dropType, event) {
                console.log("tree drop: ", dropType);
                console.log("draggingNode: ", draggingNode);
                console.log("draggingData: ", draggingNode.data);
                console.log("dropNode: ", dropNode);
                console.log("dropData: ", dropNode.data);
                this.handleDropUpdate(dropType,draggingNode.data.id,dropNode.data.id);
            },

            mouseenter(data) {
                this.$nextTick(() => {
                    this.$set(data, 'show', this.showEditableButton && true);
                    // this.$refs.tree.store.nodesMap[data.id].expanded = true;
                })
                // console.log("鼠标移入data:::",data);
                // console.log("鼠标移入data.show:::",data.show);
            },

            mouseleave(data) {
                this.$nextTick(() => {
                    this.$set(data, 'show', this.showEditableButton && false);
                    // this.$refs.tree.store.nodesMap[data.id].expanded = false;

                });
                // console.log("鼠标移出data:::",data);
                // console.log("鼠标移出data.show:::",data.show);
            },


        },
        mounted(){

        }
    })
</script>
</body>
</html>