<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />-->
    <title>WebSite Navigation</title>
    <link rel="icon" href="source/img/favicon12.png">
    <!-- 引入CDN -->
    <script src="source/js/vue.js"></script>
    <!-- 引入Element UI样式 -->
    <link rel="stylesheet" href="source/css/elementui.css">
    <link rel="stylesheet" href="source/css/transition.css">

    <!--    css图标样式库 对el-link有影响-->
    <!--    <link rel="stylesheet" href="source/css/easy-icon/easy-icon-all.css">-->

    <!-- 引入Element UI组件库 -->
    <script src="source/js/elementui.js"></script>
    <!-- 引入JQuery组件库 -->
    <script src="source/js/jquery.js" type="text/javascript"></script>
    <!-- 引入cnchar 汉字解析基础库 -->
    <script src="source/js/cnchar.min.js" type="text/javascript"></script>
    <base target="_blank">
    <style>
        #app {
            display: flex;
            flex-direction: column;
            height: 98vh;
        }

        .top {
            display: flex;
            flex-wrap: wrap;
        }

        .topform {
            width: 260px;
            margin: 0 10px 10px 0;
        }

        /*.topform .keywords_input{*/
        /*    width: 225px;*/
        /*}*/
        .content {
            width: 100%;
            display: flex;
            flex-grow: 1;
            /*background-color: #1CB1DA;*/
            /*min-height: 800px;*/
        }

        .content .left {
            width: 260px !important;
            margin-right: 10px;
        }

        .content .right {
            flex-direction: row-reverse;
            flex-grow: 1;
            /*background-color: #4d4d4d;*/
        }

        /*分割线*/
        .el-divider--horizontal {
            margin: 0 0 10px 0;
        }

        .menu1 {
            border: 1px #ee0000 !important;
        }

        .el-tree {
            user-select: none;
        }

        iframe {
            border: 2px dashed #CEC9C9;
            /*position: relative;*/
            width: 100% !important; /**/
            height: 44vw !important;
        }

        /*目录树编辑按钮样式*/
        .tree_edit {
            display: inline-block;
            height: 26px;
            position: absolute;
            right: -83px;
            background: #F0F7FF;
            margin-top: -5px;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 3px;
            border-style: ridge;
            border-color: rgba(193, 193, 196, 0.96);
        }

        /*.el-input-group__append{*/
        /*    width: 40px;*/
        /*    padding: 5px 0px 5px 3px;*/
        /*}*/
        /*.el-input-group__append button{*/
        /*    padding-right: 5px;*/
        /*}*/

        .el-input__inner {
            /*display: flex;*/
            /*text-align:center;*/
        }

        .el-input-group__append {
            padding-left: 5px !important;
            padding-right: 5px !important;
        }

    </style>

</head>
<body>

<div id="app">

    <div class="top">
        <form v-for="(item,index) in this.searchEngineList" :action="item.action" method="get" class="topform"
              @submit="saveQueryStr2SearchHistory(item)">


            <el-input size="medium" class="keywords_input" v-model='searchText' :placeholder="item.placeholderText"
                      :name="item.searchKey" size="20" clearable autocomplete="off">
                <i slot="prefix"><img :src="item.icon" width="18px" style="position: relative;top: 8px"/></i>
                <!--                <i slot="suffix" class="el-input__icon el-icon-search"></i>-->
                <input class="on_submit" slot="append" type="image" src="source/img/search_icon2.png"
                       style="width: 18px;position: relative;z-index: 999"></input>
            </el-input>
            <!--            <el-button @click="getSuggestionResults"></el-button>-->

        </form>
    </div>
    <el-divider></el-divider>
    <div class="content">
        <div class="left">
            <div class="menu1">
                <!--                <el-button size="mini" @click="()=>{this.showEditableButton =!this.showEditableButton}" style="width: 100%;margin-bottom: 10px">编辑目录</el-button>-->
                <el-link href="https://time.is/Beijing" id="time_is_link" rel="nofollow"
                         style="font-size:14px;margin:0 0 5px 10px;font-weight: bolder" target="_blank">
                    <span id="Beijing_z43d" style="font-size:14px"></span>
                </el-link>
                <script src="//widget.time.is/zh.js"></script>
                <script>
                    time_is_widget.init({
                        Beijing_z43d: {
                            template: "DATE TIME",
                            date_format: "dayname year年monthnum月daynum日"
                        }
                    });
                </script>

                <el-input placeholder="输入关键字进行过滤" size="medium" v-model="filterText" clearable>
                    <i slot="suffix" class="el-input__icon el-icon-search"></i>
                </el-input>

                <el-tree class="filter-tree"
                         :data="menuTreeList"
                         :props="defaultProps"
                         :filter-node-method="filterNode"
                         :expand-on-click-node="!this.showEditableButton"
                         node-key="id"
                         ref="tree"
                         accordion
                         @node-click="handleRedirectUrl"
                         @node-contextmenu="rightClick"
                         highlight-current
                         :draggable="true"
                         @node-drop="syncMenuTreeList2LocalStorage">
                    <span slot-scope="{ node, data}" class="custom-tree-node" @mouseenter="mouseenter(data)"
                          @mouseleave="mouseleave(data)" style="width: 100%">
                        <!-- 不同节点类型展示logo不同-->
                        <span v-if="node.level == 1" class="el-icon-folder-opened">
                            <el-link :src="node.url" style="margin-left: 3px">{{ node.label }}</el-link>
                        </span>
                        <span v-else class="el-icon-document">
                            <el-link :href="node.url" style="margin-left: 3px">{{ node.label }}</el-link>
                        </span>

                        <div v-show="data.show" class="tree_edit">
                            <!--  为 Tree 的一个节点的后面增加一个节点             -->
                            <el-button type="text" size="mini" @click="targetNewBlank(data)">
                                <i class="el-icon-top-right"></i>
                            </el-button>
                            <!--  为 Tree 中的一个节点追加一个子节点             -->
                            <el-button type="text" size="mini" @click="() => append(data, node)">
                                <i class="el-icon-plus"></i>
                            </el-button>
                            <!--		// 编辑按钮-->
                            <el-button type="text" size="mini" @click="() => edit(node, data)">
                                <i class="el-icon-edit"></i>
                            </el-button>
                            <!--            // 删除按钮-->
                            <el-button type="text" size="mini" @click="() => remove(node, data)">
                                <i class="el-icon-delete"></i>
                            </el-button>
                        </div>

                    </span>
                </el-tree>
            </div>
        </div>
        <div class="right card-flip">
            <div class="front">
                <iframe :src="this.iframeInitSrc" ref="front_iframe" ></iframe>
            </div>
            <!--            <div class="back">-->
            <!--                <iframe :src="this.iframeInitSrc" ref="back_iframe" ></iframe>-->
            <!--            </div>-->
        </div>
    </div>

    <div class="footer">
        <el-tooltip placement="top" effect="light">
            <div slot="content">
                1. 鼠标右击编辑目录树，再次右击隐藏编辑按钮。<br/>
                2. 更新的目录树数据使用localStorage存储，清除浏览器本地数据后，不可恢复。
            </div>
            <el-button size="mini" class="el-icon-info">&nbsp;使用帮助</el-button>
        </el-tooltip>

        <el-tooltip placement="top" effect="light">
            <div slot="content">
                {{JSON.stringify(this.menuTreeList)}}
            </div>
            <el-button size="mini" @click="sequenceDownload" class="el-icon-download">&nbsp;复制节点/下载</el-button>
        </el-tooltip>

        <el-tooltip placement="top" effect="light">
            <div slot="content" style="width: 400px;height: 200px">
                <el-input
                        type="textarea"
                        :rows="7"
                        placeholder="请输入JSON格式数据"
                        v-model="cookieValue">
                </el-input>
                <el-button size="mini" type="primary" @click="uploadData" style="margin-top: 10px;alignment: right"
                           align="right">保存
                </el-button>
            </div>
            <el-button size="mini" class="el-icon-upload2">&nbsp;上传数据</el-button>
        </el-tooltip>
    </div>

    <template>
        <el-dialog title="编辑节点" :visible.sync="dialogFormVisible" width="500px">
            <el-form :model="form" label-width="120px">
                <el-form-item label="节点id" :label-width="formLabelWidth">
                    <el-input v-model="form.id" autocomplete="off" @keyup.enter.native="saveNode" readonly></el-input>
                </el-form-item>
                <el-form-item label="节点名称" :label-width="formLabelWidth">
                    <el-input v-model="form.label" autocomplete="off" @keyup.enter.native="saveNode"
                              clearable></el-input>
                </el-form-item>
                <el-form-item label="节点url" :label-width="formLabelWidth">
                    <el-input v-model="form.url" autocomplete="off" @keyup.enter.native="saveNode" clearable></el-input>
                </el-form-item>
                <el-form-item label="level" :label-width="formLabelWidth">
                    <el-input v-model="form.level" autocomplete="off" @keyup.enter.native="saveNode"
                              clearable></el-input>
                </el-form-item>
                <el-form-item label="备注" :label-width="formLabelWidth">
                    <el-input v-model="form.remark" autocomplete="off" @keyup.enter.native="saveNode"
                              clearable></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer" align="left">
                <el-button type="primary" @click="saveNode">确 定</el-button>
                <el-button @click="dialogFormVisible = false">取 消</el-button>
            </div>
        </el-dialog>
    </template>


</div>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                cookieValue: "",
                formLabelWidth: 100,
                form: {},
                dialogFormVisible: false,
                showEditableButton: false,
                id: 0,
                //顶部搜索框绑定值
                searchText: null,
                searchHistory: [],
                //顶部搜索引擎api列表
                searchEngineList: [
                    {
                        action: 'https://www.dalipan.com/search',
                        searchKey: 'keyword',
                        placeholderText: '网盘搜索',
                        icon: 'source/img/website/netdisk.png',
                        remark: ''
                    },
                    {
                        action: 'https://www.google.com/search',
                        searchKey: 'q',
                        placeholderText: '谷歌搜索',
                        icon: 'source/img/website/google.png',
                        remark: ''
                    },
                    {
                        action: 'https://www.baidu.com/s',
                        searchKey: 'wd',
                        placeholderText: '百度搜索',
                        icon: 'source/img/website/baidu.png',
                        remark: ''
                    },
                    {
                        action: 'https://searx.tiekoetter.com/search',
                        searchKey: 'q',
                        placeholderText: 'SearX搜索',
                        icon: 'source/img/website/searx.png',
                        remark: ''
                    },
                    {
                        action: 'https://fsoufsou.com/search',
                        searchKey: 'q',
                        placeholderText: 'F搜',
                        icon: 'source/img/website/fsearch.ico',
                        remark: ''
                    },
                    {
                        action: 'https://zh.wikipedia.org/wiki/',
                        searchKey: 'search',
                        placeholderText: '维基搜索',
                        icon: 'source/img/website/wiki.png',
                        remark: ''
                    },
                    {
                        action: 'https://stackoverflow.com/search',
                        searchKey: 'q',
                        placeholderText: 'stackoverflow',
                        icon: 'source/img/website/stackoverflow.png',
                        remark: ''
                    },
                    {
                        action: 'https://zzk.cnblogs.com/s/blogpost',
                        searchKey: 'keywords',
                        placeholderText: '博客园搜索',
                        icon: 'source/img/website/cnblogs.png',
                        remark: ''
                    },
                    {
                        action: 'https://so.csdn.net/so/search/s.do',
                        searchKey: 'q',
                        placeholderText: 'CSDN搜索',
                        icon: 'source/img/website/csdn.png',
                        remark: ''
                    },
                    {
                        action: 'https://www.zhihu.com/search?type=content',
                        searchKey: 'q',
                        placeholderText: '知乎搜索',
                        icon: 'source/img/website/zhihu.png',
                        remark: ''
                    },
                    {
                        action: 'https://github.com/search',
                        searchKey: 'q',
                        placeholderText: 'GitHub搜索',
                        icon: 'source/img/website/github.png',
                        remark: ''
                    },
                    {
                        action: 'https://www.jianshu.com/search',
                        searchKey: 'q',
                        placeholderText: '简书搜索',
                        icon: 'source/img/website/jianshu.png',
                        remark: ''
                    },
                    {
                        action: 'https://www.runoob.com',
                        searchKey: 's',
                        placeholderText: '菜鸟搜索',
                        icon: 'source/img/website/cainiao.png',
                        remark: ''
                    },

                ],
                activeName: '1',
                filterText: '',

                iframeInitSrc: 'http://www.lsdhss.com/',
                menuTreeList: [{
                    "level": 1,
                    "label": "聚合API",
                    "children": [{
                        "level": 2,
                        "label": "API Docs",
                        "url": "https://tool.oschina.net/apidocs/",
                        "remark": "",
                        "id": 1674563882027,
                        "show": false,
                        "order": 0,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "API ref",
                        "url": "https://www.apiref.com/",
                        "remark": "",
                        "id": 1674563882028,
                        "show": false,
                        "order": 1,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "菜鸟教程",
                        "url": "https://www.runoob.com/",
                        "remark": "",
                        "id": 1674563882029,
                        "show": false,
                        "order": 2,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "W3中文教程",
                        "url": "https://www.w3school.com.cn/",
                        "remark": "",
                        "id": 1674563882030,
                        "show": false,
                        "order": 3,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "Adguard文档",
                        "url": "https://george0728.github.io/Web/adguard/en.htm",
                        "remark": "",
                        "id": 1674563882031,
                        "show": false,
                        "order": 4,
                        "children": []
                    }],
                    "id": 1674563882026,
                    "show": false,
                    "order": 1,
                    "remark": ""
                }, {
                    "level": 1,
                    "label": "编程API",
                    "children": [{
                        "level": 2,
                        "label": "Ajax",
                        "url": "https://www.runoob.com/ajax/",
                        "remark": "",
                        "id": 1674563882033,
                        "show": false,
                        "order": 0,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "BootStrap4",
                        "url": "https://code.z01.com/v4/docs/",
                        "remark": "",
                        "id": 1674563882034,
                        "show": false,
                        "order": 1,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "cnchar (v3.0.5)",
                        "url": "https://www.theajack.com/cnchar/guide/",
                        "remark": "",
                        "id": 1674563882035,
                        "show": false,
                        "order": 2,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "CSS3—API",
                        "url": "http://www.aseoe.com/manual/css3/",
                        "remark": "",
                        "id": 1674563882036,
                        "show": false,
                        "order": 3,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "CSS-菜鸟",
                        "url": "https://www.runoob.com/cssref/css-reference.html",
                        "remark": "",
                        "id": 1674563882037,
                        "show": false,
                        "order": 4,
                        "children": []
                    }, {
                        "id": 1674563882038,
                        "level": 2,
                        "label": "Element",
                        "children": [],
                        "url": "https://element.eleme.cn/#/zh-CN/component/layout",
                        "show": false,
                        "order": 5,
                        "remark": ""
                    }, {
                        "level": 2,
                        "label": "MAVEN",
                        "url": "https://www.runoob.com/maven/",
                        "remark": "",
                        "id": 1674563882040,
                        "show": false,
                        "order": 7,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "SQL",
                        "url": "https://www.runoob.com/sql/",
                        "remark": "",
                        "id": 1674563882041,
                        "show": false,
                        "order": 8,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "HTML5-API",
                        "url": "http://www.aseoe.com/manual/html5/",
                        "remark": "",
                        "id": 1674563882042,
                        "show": false,
                        "order": 9,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "HTMLDOM-菜鸟",
                        "url": "https://www.runoob.com/htmldom",
                        "remark": "",
                        "id": 1674563882043,
                        "show": false,
                        "order": 10,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "HTML-菜鸟",
                        "url": "https://www.runoob.com/tags/html-reference.html",
                        "remark": "",
                        "id": 1674563882044,
                        "show": false,
                        "order": 11,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "Vue2",
                        "url": "https://v2.cn.vuejs.org/v2/guide/",
                        "remark": "https://v2.cn.vuejs.org/v2/guide/",
                        "id": 1674563882045,
                        "show": false,
                        "order": 12,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "Java-菜鸟",
                        "url": "https://www.runoob.com/java/",
                        "remark": "",
                        "id": 1674563882046,
                        "show": false,
                        "order": 13,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "Java SE 11",
                        "url": "https://www.apiref.com/java11-zh",
                        "remark": "",
                        "id": 1674563882047,
                        "show": false,
                        "order": 14,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "JavaScript-菜鸟",
                        "url": "https://www.runoob.com/js",
                        "remark": "",
                        "id": 1674563882048,
                        "show": false,
                        "order": 15,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "JavaScript-API",
                        "url": "http://www.aseoe.com/manual/js/index.html",
                        "remark": "http://www.aseoe.com/manual/js/index.html",
                        "id": 1674563882049,
                        "show": false,
                        "order": 16,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "JDK中文手册",
                        "url": "https://tool.oschina.net/apidocs/apidoc?api=jdk-zh",
                        "remark": "",
                        "id": 1674563882050,
                        "show": false,
                        "order": 17,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "JQuery-菜鸟",
                        "url": "https://www.runoob.com/jquery",
                        "remark": "",
                        "id": 1674563882051,
                        "show": false,
                        "order": 18,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "JQuery—API",
                        "url": "http://www.aseoe.com/manual/jq/",
                        "remark": "",
                        "id": 1674563882052,
                        "show": false,
                        "order": 19,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "JQuery1.9 API -离线",
                        "url": "source/api/jquery-api-1.9/index.htm",
                        "remark": "",
                        "id": 1674563882053,
                        "show": false,
                        "order": 20,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "JQuery-菜鸟",
                        "url": "https://www.runoob.com/manual/jquery/",
                        "remark": "",
                        "id": 1674563882054,
                        "show": false,
                        "order": 21,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "JSON-菜鸟",
                        "url": "https://www.runoob.com/json/",
                        "remark": "",
                        "id": 1674563882055,
                        "show": false,
                        "order": 22,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "XML-菜鸟",
                        "url": "https://www.runoob.com/xml/",
                        "remark": "",
                        "id": 1674563882056,
                        "show": false,
                        "order": 23,
                        "children": []
                    }],
                    "id": 1674563882032,
                    "show": false,
                    "order": 2,
                    "remark": ""
                }, {
                    "level": 1,
                    "label": "在线工具",
                    "children": [{
                        "level": 2,
                        "label": "在线工具聚合",
                        "url": "https://tool.lu/",
                        "remark": "",
                        "id": 1674563882058,
                        "show": false,
                        "order": 0,
                        "children": []
                    }, {
                        "id": 1674563882059,
                        "level": 2,
                        "label": "JSON工具",
                        "children": [{
                            "id": 1674610905051,
                            "level": 2,
                            "label": "JSON生成Java实体",
                            "children": [],
                            "show": false,
                            "url": "http://www.jsons.cn/json2java"
                        }],
                        "show": false,
                        "order": 1,
                        "remark": "",
                        "unfold": true
                    }],
                    "id": 1674563882057,
                    "show": false,
                    "order": 3,
                    "remark": ""
                }, {
                    "id": 1674563882060,
                    "level": 2,
                    "label": "菜鸟教程",
                    "children": [{
                        "id": 1674563882062,
                        "level": 2,
                        "label": "菜鸟-Rust",
                        "children": [],
                        "show": false,
                        "order": 0,
                        "remark": "",
                        "url": "https://www.runoob.com/rust/rust-tutorial.html"
                    }, {
                        "id": 1674563882061,
                        "level": 2,
                        "label": "菜鸟-Linux",
                        "children": [],
                        "url": "https://www.runoob.com/linux/linux-tutorial.html",
                        "show": false,
                        "order": 0,
                        "remark": ""
                    }, {
                        "level": 2,
                        "label": "菜鸟-Regexp",
                        "url": "https://www.runoob.com/regexp/",
                        "remark": "",
                        "id": 1674563882039,
                        "show": false,
                        "order": 6,
                        "children": []
                    }],
                    "url": "",
                    "show": false,
                    "order": 4,
                    "remark": ""
                }, {
                    "id": 1674563882062,
                    "level": 2,
                    "label": "不可用iframe1",
                    "children": [{
                        "level": 2,
                        "label": "猎手导航33333",
                        "url": "http://www.lsdhss.com/",
                        "remark": "",
                        "id": 1674563882063,
                        "show": false,
                        "order": 0,
                        "children": [],
                        "unfold": true
                    }, {
                        "level": 2,
                        "label": "资源分享4444444",
                        "url": "https://www.qiuziyuan.net/",
                        "remark": "",
                        "id": 1674563882064,
                        "show": false,
                        "order": 1,
                        "children": []
                    }, {
                        "level": 2,
                        "label": "爱思资源网5555555",
                        "url": "http://www.aseoe.com/manual/",
                        "remark": "",
                        "id": 1674563882065,
                        "show": false,
                        "order": 2,
                        "children": []
                    }],
                    "show": false,
                    "order": 5,
                    "remark": "",
                    "unfold": true
                }, {
                    "id": 1674566619881,
                    "level": 2,
                    "label": "多媒体",
                    "children": [{
                        "id": 1674733125414,
                        "level": 2,
                        "label": "腾讯视频",
                        "children": [],
                        "show": false,
                        "url": "https://v.qq.com/"
                    }],
                    "show": false,
                    "url": "https://v.qq.com/",
                    "unfold": true
                }, {
                    "id": 1674566619130,
                    "level": 2,
                    "label": "常用",
                    "children": [{
                        "id": 1674566840739,
                        "level": 2,
                        "label": "百度一下",
                        "children": [],
                        "show": false,
                        "url": "https://www.baidu.com/"
                    }],
                    "show": false,
                    "unfold": true,
                    "url": "http://192.168.88.8:8181/docs/note"
                }],
                defaultProps: {
                    children: 'children',
                    label: 'label'
                },
            }
        },
        created() {
            Date.prototype.format = function (fmt) {
                var o = {
                    "M+": this.getMonth() + 1,                 //月份
                    "d+": this.getDate(),                    //日
                    "h+": this.getHours(),                   //小时
                    "m+": this.getMinutes(),                 //分
                    "s+": this.getSeconds(),                 //秒
                    "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                    "S": this.getMilliseconds()             //毫秒
                };
                if (/(y+)/.test(fmt)) {
                    fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                }
                for (var k in o) {
                    if (new RegExp("(" + k + ")").test(fmt)) {
                        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                    }
                }
                return fmt;
            };
            // window.localStorage.setItem("menuTreeList",JSON.stringify(this.menuTreeList));
            const localStorageValue = window.localStorage.getItem("menuTreeList");
            // const cookieValue = this.getCookie("menuTreeList");
            // alert(cookieValue);
            // if(cookieValue != ""){
            //     this.menuTreeList = JSON.parse(cookieValue);
            // }
            // console.log("storeList:::",storeList);
            if (localStorageValue != null) {
                this.menuTreeList = JSON.parse(localStorageValue);
            }
        },
        watch: {
            filterText(val) {
                let res = val == null ? '' : val
                this.$refs.tree.filter(val);
            }
        },
        methods: {
            saveQueryStr2SearchHistory(item) {
                console.log("item:", item);
                let searchItem = {};
                searchItem['searchEngine'] = item.placeholderText;
                searchItem['searchText'] = this.searchText;
                searchItem['searchTime'] = new Date().format("yyyy-MM-dd hh:mm:ss");
                let sh = window.localStorage.getItem("searchHistory");
                try {
                    if (sh != null && sh != '') {
                        this.searchHistory = JSON.parse(sh);
                    }
                    this.searchHistory.push(searchItem);
                    console.log("搜索明细：", JSON.stringify(this.searchHistory));
                    window.localStorage.setItem("searchHistory", JSON.stringify(this.searchHistory));
                } catch (e) {
                    window.localStorage.removeItem("searchHistory");
                    console.log("解析json异常：", e)
                }
            },

            //filter-node-method属性：	对树节点进行筛选时执行的方法，返回 true 表示这个节点可以显示，返回 false 则表示这个节点会被隐藏   Function(value, data, node)
            filterNode(value, data) {
                if (!value) return true;

                //支持中文拼音搜索(全部拼音时才会处理)
                if (cnchar.isCnChar(data.label.toLowerCase()) && !cnchar.isCnChar(value)) {
                    //将label拆散成小写拼音数组
                    let arr = data.label.spell('low', 'array'); //arg1:大小写 low up ；arg2:转换类型array,String
                    //拼接成完整label的拼音
                    let spell = arr.join(',');
                    for (var i = 0; i < arr.length - 1; i++) {
                        return value.toLowerCase().indexOf(arr[i].toLowerCase()) !== -1;
                    }
                    ;
                    // console.log(data.label+"是否为汉字：",cnchar.isCnChar(data.label));
                    // console.log("拆分后的拼音字符串",spell);
                    //lengths 是label完整拼音 中每个汉字第一个拼音字母的index值的数组
                    let lengths = [0];
                    for (var i = 0; i < arr.length - 1; i++) {
                        lengths.push(lengths[i] + arr[i].length);
                    }
                    ;
                    //判断label完整拼音 中 输入值的 index 是不是等于某个汉字第一个拼音字母的index值
                    return lengths.indexOf(spell.indexOf(value.toLowerCase())) !== -1
                }

                //忽略大小写
                return data.label.toLowerCase().indexOf(value.toLowerCase()) !== -1;

            },

            //node-click事件： 共三个参数，依次为：传递给 data 属性的数组中该节点所对应的对象、节点对应的 Node、节点组件本身。  https://element.eleme.cn/#/zh-CN/component/tree#events
            handleRedirectUrl(data, node, value) {
                // console.log("data:",data);
                // console.log("node:",node);
                // console.log("value:",value);

                // alert($('.card-flip').css('transform') == 'none');
                // alert(typeof $('.card-flip').css('transform'));
                this.$refs.front_iframe.src = data.url;

                if ($('.card-flip').css('transform') == 'none') {
                    $('.card-flip').css('transform', 'rotateX(360deg)');
                } else {
                    $('.card-flip').css('transform', 'none');
                }
            },

            targetNewBlank(data) {
                // window.top.location.href = data.url;
                // window.location.href = data.url;
                window.open(data.url, "_blank");
                // window.open(data.url, "_blank", "location=no,screenX=300px,titlebar=no,screenY=1800px,scrollbars=yes,resizable=1,modal=true,alwaysRaised=yes");
                // window.open(data.url, "_blank",  'height=1400, width=2800, top=200,left=300, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no');


            },

            rightClick(MouseEvent, object, Node, element) { // 鼠标右击触发事件

                this.showEditableButton = !this.showEditableButton
                this.$message.success("鼠标右击展开节点:" + (this.showEditableButton ? "否" : "是"));
                // console.log('右键被点击的event:', MouseEvent)
                // console.log('右键被点击的object:', object)
                // console.log('右键被点击的value:', Node)
                // console.log('右键被点击的element:', element)
                // console.log('鼠标点击了树形结构图')
                this.clickNode = Node  //存储待操作的节点或删除、或在该层或子层添加节点
                // alert(Node.level +":"+Node.label)
            },

            append(data) {
                console.log("showcookies:", this.getCookie("menuTreeList"));
                const newChild = {id: new Date().getTime(), level: 2, label: '子节点', children: []};
                if (!data.children) {
                    this.$set(data.parent, 'children', []);
                }
                // console.log("拓展前data.children:::",data.children);
                data.children.push(newChild);
                this.$refs.tree.store.nodesMap[data.id].expanded = true;
                data.unfold = true;
                this.syncMenuTreeList2LocalStorage();
                // console.log("拓展时data:::",data);
                // console.log("拓展后data.children:::",data.children);
                // console.log("拓展时data.json:::",JSON.stringify(data));
                // console.log("拓展时menuTreeList:::",this.menuTreeList);
                // console.log("拓展时menuTreeList.json:::",JSON.stringify(this.menuTreeList));
            },

            remove(node, data) {
                this.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    const parent = node.parent;
                    const children = parent.data.children || parent.data;
                    const index = children.findIndex(d => d.id === data.id);
                    children.splice(index, 1);
                    this.syncMenuTreeList2LocalStorage();
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });

            },

            edit(node, data) {
                console.log("node:::", node);
                console.log("data:::", data);
                this.form = data;
                // console.log("编辑开始时data:::",data);
                // console.log("编辑开始时data.json:::",JSON.stringify(data));
                // console.log("编辑开始时menuTreeList:::",this.menuTreeList);
                // console.log("编辑开始时menuTreeList.json:::",JSON.stringify(this.menuTreeList));
                this.dialogFormVisible = true;
            },

            saveNode() {
                // console.log("this.form:::",this.form);
                // console.log("编辑保存时menuTreeList:::",this.menuTreeList);
                // console.log("编辑保存时menuTreeList.json:::",JSON.stringify(this.menuTreeList));
                // window.localStorage.setItem("menuTreeList",JSON.stringify(this.menuTreeList));
                this.syncMenuTreeList2LocalStorage();
                // console.log("localStorage:::",window.localStorage.getItem("menuTreeList"));
                this.dialogFormVisible = false;
            },
            //拖动节点时，更新localStorage
            syncMenuTreeList2LocalStorage() {
                try {
                    window.localStorage.setItem("menuTreeList", JSON.stringify(this.menuTreeList));
                } catch (e) {
                    console.log("localstorage set exception:", e)
                }
                // document.cookie = "menuTreeList="+JSON.stringify(this.menuTreeList);
            },

            getCookie(cname) {
                console.log("document.cookie:::", document.cookie);
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i].trim();
                    if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
                }
                return "";
            },

            uploadData() {
                this.$confirm('此操作将覆盖已有列表数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    const jsonStr = this.cookieValue;
                    try {
                        window.localStorage.setItem("menuTreeList4Recovery", JSON.stringify(this.menuTreeList));
                        const list = JSON.parse(jsonStr);
                        this.menuTreeList = list;
                        this.syncMenuTreeList2LocalStorage();
                        this.$message.success("上传成功");
                    } catch (e) {
                        this.$message.error("上传失败");
                    }
                    this.syncMenuTreeList2LocalStorage();
                    this.$message({
                        type: 'success',
                        message: '上传成功!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消上传'
                    });
                });
            },

            mouseenter(data) {
                this.$nextTick(() => {
                    this.$set(data, 'show', this.showEditableButton && true);
                    // this.$refs.tree.store.nodesMap[data.id].expanded = true;
                })
                // console.log("鼠标移入data:::",data);
                // console.log("鼠标移入data.show:::",data.show);
            },

            mouseleave(data) {
                this.$nextTick(() => {
                    this.$set(data, 'show', this.showEditableButton && false);
                    // this.$refs.tree.store.nodesMap[data.id].expanded = false;

                });
                // console.log("鼠标移出data:::",data);
                // console.log("鼠标移出data.show:::",data.show);
            },

            sequenceDownload() {
                const element = document.createElement('a')
                element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(JSON.stringify(this.menuTreeList)))
                element.setAttribute('download', "menuTreeList.json")
                element.style.display = 'none'
                element.click()
            },

        }
    })
</script>
</body>
</html>