@charset "UTF-8";
        * {
            padding: 0px;
            margin: 0px;
        }


/*         .ul2 a:hover {
        
            background-color: #BFBFBF;
        } */

        ul {
            list-style: none;
        }

        .ul2 li {
        background:#FFFFFF;
            clear: both;
            margin: 0px;
        }

        .ul2 {
        	
            display: none;
        }
        
        .ul1 .ul1_li1:hover .ul2 {
            display: block;
        }

       .ul1 a {
            padding-left: 5px;
            border: 1px solid lightgray;
            display: inline-block;
            text-decoration: none;
            font-size: 14px;
            width: 140px;
            height: 20px;
            color: #400040;
            line-height: 20px;
        }
        
        .ul1  li {
        width:145px;
            float: left;
            margin-left: 0px;
        }
        
        .content ul{
        	position: relative;
        	z-index: 3;
        }
        
        li span{
        	font-size: 14px;
        	width:100px;
        	text-align: center;
        }
        
        .tabs{
        	opacity: 0.5;
        }
        
